*
!.gitignore
!README.md
!*.php

!server
server/*
!server/*.php
server/conf_secret.inc.php
!server/*.example
!server/db
server/db/*
!server/db/*.sql

!client
client/*
!client/*.html
!client/*.css
!client/*.js
!client/*.example
!client/img
client/img/*
!client/img/*.svg
