div
{
	border: 1px solid;
}

#loginform td, #loginform input
{
	font-size: 24pt;
}

#errormsg
{
	background-color: red;
}

#virtualKeyboard #copyrights, #virtualKeyboard select#kb_langselector, #virtualKeyboard select#kb_mappingselector
{

	display: none;
}